<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parse</key>
	<dict>
		<key>active</key>
		<true/>
		<key>parse_id</key>
		<string>123456789</string>
		<key>client_key</key>
		<string>987654321</string>
	</dict>
	<key>MobileAppTracker</key>
	<dict>
		<key>active</key>
		<false/>
		<key>advertiser_id</key>
		<string></string>
		<key>conversion_key</key>
		<string></string>
	</dict>
</dict>
</plist>
